# Proteger claves secretas y credenciales
.env

# Entorno virtual de Python
.venv/
venv/
env/

# Archivos temporales generados por Python
__pycache__/
*.py[cod]

# Archivos temporales del sistema
.DS_Store
Thumbs.db